.carouselbox {
  width: 80%;
  margin: auto;
  vertical-align: top;
  justify-items: center;
  text-align: center;
  background-color: white;
}

.carouselarrow {
  color: rgba(204, 204, 204, 1);
  font-size: 40px;
  width: 30px;
}

.testimonialitem {
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

.testimonialpicture {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.testimonialbox {
  color: black;
  width: 80%;
  margin: auto;
  display: flex;
}
