.postcontainer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #fcfcfc 0% 0% no-repeat padding-box;
}

.postbox {
  width: 25%;
  min-width: 290px;
  justify-items: left;
  margin: 0 auto;
}
