.body {
    font-family: "Gordita Regular";
    font-size: 1rem;
    background-color: #FBFEFD;
    color: #707070;
    line-height: 1.6;
}

.ul {
    padding: 0;
    list-style: none;
}

.a {
    text-decoration: none;
}

.img {
    max-width: 100%;
    height: auto;
}

.main {
    width: 100%;
    height: auto;
    font-family: Gordita Regular;
}

.number_circle {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: #fff;
    text-align: center;
}

.number_active {
    background-color: #069C54;
}

.number_default {
    background-color: #666;
}

.title {
    font-family: "Gordita Regular";
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    margin-bottom: 0!important;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: #212121;
    text-align: left;
    font: normal normal medium  Gordita;
    letter-spacing: 0px;
    opacity: 1;
}
