.intro {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
}

.for_company {
    display: flex;
    flex-direction: row;
}

.padding_btn {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}

.box {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 0 12px #0000000A;
    border-radius: 12px;
    border-color: #EEEEEE;
    width: 1208px;
    margin-left: 10px;
}

.col1 {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 50px;
}

.col2 {
    width: 50%;
}

.company_info {
    margin-top: 100px;
}

.gray {
    background: #FAFAFA 0% 0% no-repeat padding-box;
}

.btn {
    background: #2E6EDF 0 0 no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    color: #ffffff;
    height: 48px;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 25px;
    transition: all 0.5s;
    position: relative;
    text-decoration: none;
    width: 184px;
    border-color: transparent !important;
}

.btn::after {
    font-family: "Gordita";
    content: "\f061";
    position: absolute;
    left: 93%;
    top: 31%;
    right: 5%;
    bottom: 0;
    opacity: 0;
}
.recommendation {
    width: 50%;
    z-index: 9999;
    margin-left: 300px;
}

.developer {
    z-index: 9999;
    margin-left: 300px;
    width: 45%;
}

.developer_box {
    background: #FCFCFC 0% 0% no-repeat padding-box;
    padding-top: 20px;
    padding-bottom: 20px;
}

.turing_demo_developer {
    width: 60%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 12px #0000000A;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-right: 120px;
    margin-left: 15px;
}

.link {
    font-family: "Gordita";
    text-decoration: none !important;
    color: #ffffff;
}

.order_img {
    padding-top: 200px;
}

.btn:hover {
    background: #2E6EDF 0 0 no-repeat padding-box;
    transition: all 0.5s;
    height: 52px;
    width: 208px;
    border-radius: 6px;
    color: #ffffff;
    padding: 14px 34px 14px 24px;
}

.btn:hover::after {
    opacity: 1;
    transition: all 0.5s;
    text-decoration: none !important;
}

.txt_lg {
    text-align: left;
    font-family: "Gordita";
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0;
    color: #212121;
}

.txt_md {
    text-align: left;
    font-family: "Gordita";
    font-weight: 300;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0;
    color: #212121;
}

.txt_sm_pm {
    padding-top: 40px;
}

.txt_sm {
    font-family: "Gordita";
    font-size: 16px;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.title_page {
    padding-bottom: 50px !important;
}

.img {
    height: 353px;
    width: 828px;
    margin-top: 300px;
    padding-right: 95px;
}

.padding_100 {
    margin-top: 56px;
}

@media screen and (max-width: 768px) {
    .order_img {
        order: 2;
        padding-top: 20px
    }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .offer_content .talent .turing_demo {
        display: flex;
        flex-direction: column;
    }

    .for_company {
        display: flex;
        flex-direction: column;
    }

    .img {
        margin-top: 0px;
        height: 160px;
        width: 366px;
        padding-right: 0;
    }

    .col1 {
        width: 100%;
        padding: 5px;
    }

    .developer_box {
        background: #FCFCFC 0% 0% no-repeat padding-box;
        margin: 10px;
    }

    .mb {
        height: 204px;
    }

    .col2 {
        width: 100%;
        padding: 5px;
        height: 204px;
    }

    .introduce {
        padding-top: 70px;
    }

    .box {
        margin-left: 0px;
    }

    .recommendation {
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        margin: 10px;
        align-items: center;
    }

    .developer {
        margin-left: 10px;
        width: 100%;
    }

    .developer {
        width: 100%;
        margin-left: 0px;
    }

    .turing_demo_title  {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .txt_lg {
        font-size: 26px;
        line-height: 30px;
    }

    .turing_demo_developer {
        width: auto;
        margin: 10px;
    }
}

@media screen and (min-width: 769px) {
    .intro {
        min-height: 800px;
        padding-top: 60px;
    }
}

@media screen and (max-width: 768px) and (min-width: 768px) {
    .section {
        padding-left: 40px;
        padding-right: 40px;
    }
    .offer_content .turing_demo {
        display: flex;
        flex-direction: column;
    }

    .turing_demo_title  {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .turing_demo_developer .talent_title .talent_img {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}
