.intro {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
}

.for_company {
    display: flex;
    flex-direction: row;
}

.padding_btn {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}

.btn {
    background: #2E6EDF 0 0 no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    color: #ffffff;
    height: 48px;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 25px;
    transition: all 0.5s;
    position: relative;
    text-decoration: none;
    width: 184px;
    border-color: transparent !important;
}

.btn::after {
    font-family: "Gordita";
    content: "\f061";
    position: absolute;
    left: 93%;
    top: 31%;
    right: 5%;
    bottom: 0;
    opacity: 0;
}

.link {
    font-family: "Gordita";
    text-decoration: none !important;
    color: #ffffff;
}

.order_img {
    padding-top: 200px;
}

.btn:hover {
    background: #2E6EDF 0 0 no-repeat padding-box;
    transition: all 0.5s;
    height: 52px;
    width: 208px;
    border-radius: 6px;
    color: #ffffff;
    padding: 14px 34px 14px 24px;
}

.btn:hover::after {
    opacity: 1;
    transition: all 0.5s;
    text-decoration: none !important;
}

.txt_lg {
    text-align: left;
    font-family: "Gordita";
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0;
    color: #212121;
}

.txt_sm_pm {
    padding-top: 40px;
}

.txt_sm {
    font-family: "Gordita";
    font-size: 16px;
    line-height: 30px;
    color: #444444;
    opacity: 1;
}

.img {
    height: 353px;
    width: 828px;
}

@media screen and (max-width: 768px) {
    .order_img {
        order: 2;
        padding-top: 20px
    }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .offer_content .talent .turing_demo {
        display: flex;
        flex-direction: column;
    }

    .turing_demo_title  {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .turing_demo_developer .talent_title .talent_img .turing_demo_developer {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .talent_title .talent_img {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .turing_demo_title .turing_demo_developer .talent_title .talent_img .turing_demo_developer {
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .intro {
        min-height: 800px;
        padding-top: 60px;
    }
}

@media screen and (max-width: 768px) and (min-width: 768px) {
    .section {
        padding-left: 40px;
        padding-right: 40px;
    }
    .offer_content .turing_demo {
        display: flex;
        flex-direction: column;
    }

    .turing_demo_title  {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .turing_demo_developer .talent_title .talent_img {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}
