.intro {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
}

.txt_lg {
  text-align: left;
  font-family: 'Gordita';
  font-weight: 300;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0;
  color: #212121;
}

.txt_sm_pm {
  padding-top: 40px;
}

.txt_sm {
  font-family: 'Gordita';
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  opacity: 1;
}

.offer_label {
  display: flex;
  flex-direction: row;
}

.offer_title {
  font-size: 16px;
  font: normal normal medium Gordita;
  line-height: 30px;
  color: #212121;
  margin-top: 0;
  margin-left: 8px;
  opacity: 1;
}

.offer_content {
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  margin-top: 0;
  margin-left: 8px;
  opacity: 1;
}

.circle {
  width: 24px;
  height: 24px;
  background-color: #2e6edf;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: Gordita;
}

.label {
  width: 100%;
  height: auto;
}

.img {
  width: 645px;
  height: 826px;
}

.btn {
  background: #2e6edf 0 0 no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  color: #ffffff;
  height: 48px;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 25px;
  transition: all 0.5s;
  position: relative;
  text-decoration: none;
  width: 184px;
  border-color: transparent !important;
}

.btn::after {
  font-family: 'Gordita';
  content: '\f061';
  position: absolute;
  left: 93%;
  top: 31%;
  right: 5%;
  bottom: 0;
  opacity: 0;
}

.link {
  font-family: 'Gordita';
  text-decoration: none !important;
  color: #ffffff;
}

.btn:hover {
  background: #2e6edf 0 0 no-repeat padding-box;
  transition: all 0.5s;
  height: 52px;
  width: 208px;
  border-radius: 6px;
  color: #ffffff;
  padding: 14px 34px 14px 24px;
}

.btn:hover::after {
  opacity: 1;
  transition: all 0.5s;
  text-decoration: none !important;
}

.padding_btn {
  padding-top: 30px;
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.introduce {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .intro .container .left {
    padding-left: calc(20px + 20 * (100vw - 320px) / 448);
    padding-right: calc(20px + 20 * (100vw - 320px) / 448);
  }
}

@media screen and (min-width: 769px) {
  .intro {
    height: auto;
    min-height: 800px;
    padding-top: 60px;
  }

  .txt_lg {
    font-family: 'Gordita';
    font-size: 34px;
  }

  .txt_sm {
    font-family: 'Gordita';
    font-size: 14px;
  }

  .img {
    position: relative;
    width: 290px;
    height: 286px;
    margin-left: 48px;
  }
}

@media screen and (min-width: 769px) {
  .intro .container .right {
    width: calc(720 / 1070 * 100%);
    height: 56vh;
    z-index: 1;
    right: 0;
    top: 0;
  }

  .txt_lg {
    font-size: 34px;
  }

  .img {
    position: relative;
    width: 645px;
    height: 826px;
  }
}

.company_info {
  margin-top: -120px;
}

@media screen and (max-width: 768px) {
  .container .right {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .intro {
    height: auto;
    min-height: 800px;
    padding-top: 60px;
  }

  .txt_lg {
    font-family: 'Gordita';
    font-size: 34px;
    line-height: 30px;
  }

  .txt_sm {
    font-family: 'Gordita';
    font-size: 14px;
  }

  .img {
    position: relative;
    width: 290px;
    height: 286px;
    margin-left: 48px;
  }

  .company_info {
    margin-top: 20px;
  }

  .txt_sm_pm {
    padding-top: 10px;
  }

  .padding_btn {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .txt_lg {
    font-family: 'Gordita';
    font-size: 34px;
  }

  .txt_sm {
    font-family: 'Gordita';
    font-size: 14px;
  }

  .img {
    position: relative;
    width: 290px;
    height: 286px;
    margin-left: 48px;
  }

  .company_info {
    margin-top: 20px;
  }
}

.stopanimation {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.img {
  position: relative;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
}

@media screen and (max-width: 1023px) {
  .img {
    position: relative;
  }

  .img:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 80%;
  }

  .img > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.img .animate {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 1.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 1.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 1.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.img.stopanimation {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.img div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.img div div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  width: 75%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .img div div {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
}

.iramai_offers {
  font-family: 'Gordita';
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 100px;
  margin-bottom: 15vh;
}

.offer_content {
  display: flex;
  flex-direction: row;
}

.section {
  position: relative;
  width: 320px;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
}

.img_container {
  text-align: center;
}

.img .animate {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 1.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 1.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 1.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.img > .stopanimation {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.iramai_demo {
  display: flex;
  flex-direction: row;
}

.iramai_demo_title {
  width: 35%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding-right: 50px;
}

.txt_bold {
  font-weight: 700;
}

.iramai_demo_developer {
  width: 65%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 12px #0000000a;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.talent {
  display: flex;
  flex-direction: row;
  padding: 100px 0;
}

.talent_title {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.talent_img {
  width: 60%;
  text-align: center;
  align-items: center;
}

.talent_img_content {
  width: 601px;
  height: 496px;
}

.order_img {
  padding-top: 200px;
}

@media screen and (max-width: 768px) {
  .section {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .talent_title {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    order: 2;
  }

  .offer_content {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .iramai_demo {
    display: flex;
    flex-direction: column;
  }

  .introduce {
    display: flex;
    flex-direction: column;
  }

  .talent {
    display: flex;
    flex-direction: column;
    padding: 50px 0px 0px;
  }

  .iramai_offers {
    padding-top: 50px;
    margin-bottom: 5vh;
  }

  .iramai_demo_title {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .txt_lg {
    font-size: 16px;
  }

  .talent_img {
    width: 100%;
  }

  .talent_title {
    width: 100%;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .iramai_demo_developer {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }

  .talent_img_content {
    width: 365px;
    height: 301px;
  }

  .order_img {
    order: 2;
    padding-top: 20px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .offer_content .talent .iramai_demo {
    display: flex;
    flex-direction: column;
  }

  .iramai_demo_title {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .iramai_demo_developer .talent_title .talent_img .iramai_demo_developer {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .talent_title .talent_img {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .iramai_demo_title
    .iramai_demo_developer
    .talent_title
    .talent_img
    .iramai_demo_developer {
    width: 100%;
  }
}

@media screen and (max-width: 768px) and (min-width: 768px) {
  .section {
    padding-left: 40px;
    padding-right: 40px;
  }

  .offer_content .iramai_demo {
    display: flex;
    flex-direction: column;
  }

  .iramai_demo_title {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .iramai_demo_developer .talent_title .talent_img {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
