.jobpage {
  margin: 0;
  width: 100%;
  display: block;
}

.cover {
  width: 100%;
  margin: auto;
  margin-bottom: 80px;
}

.mainsection {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}
.buttonapply {
  max-width: 328px;
}
