.nav_item {
    font-family: "Gordita";
    font-size: 16px;
    color: #151515 !important;
}

.header {
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 9000;
    max-width: 2560px;
    margin: 0 auto;
    height: 55px;
    min-width: 414px;
}

.menu {
    display: none;
}

.container {
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
}

.header .container {
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
}

@media (min-width: 769px) {
    .header .container {
        padding-left: calc(40px + 265 * (100vw - 769px) / 911);
        padding-right: calc(40px + 265 * (100vw - 769px) / 911);
    }
}

@media (min-width: 1680px) {
    .header .container {
        padding-left: 305px;
        padding-right: 305px;
    }
}

@media screen and (max-width: 768px) {
    .header .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .left {
        width: 100%;
    }
    .right {
        display: none !important;
    }
    .right1 {
        display: none !important;
    }

    .menu_header {
        display: flex;
        flex-direction: row;
    }

    .menu_label {
        width: 90%;
    }

    .menu {
        display: block;
        border-color: transparent !important;
        float: right;
        width: auto;
        flex-direction: row-reverse;
        background-color: transparent;
        font-size: 24px;
    }
}

.container_inner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.h1 {
    font-family: "Gordita";
    font-weight: 700;
    font-size: 20px;
    line-height: 2.36;
    margin-top: 5px;
    color: #151515 !important;
}

.right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
}

.right1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    width: 30%;
}

.hover_1:hover::before {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.nav_item_container {
    margin: 0 10px;
}

.nav_item_container .nav_item {
    font-family: "Gordita";
    font-weight: 500;
    font-size: 16px;
    line-height: 2.36;
}

.btn_primary {
    background: #2E6EDF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    color: #fff;
    text-align: right;
    font-size: 16px;
    letter-spacing: 0.64px;
}

.text_default {
    font-family: "Gordita";
    text-decoration: none;
    padding-right: 30px;
    color: #151515 !important;
}

